@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Author;

<h2>Add an Author!</h2>

<br>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName, "Enter First Name: ")
  @Html.TextBoxFor(model => model.FirstName)

  <br>
  <br>

  @Html.LabelFor(model => model.LastName, "Enter Last Name:")
  @Html.TextBoxFor(model => model.LastName)

  <br>
  <br>

  <input type="submit" value="Add Author!"/>
}

<br>

<p>@Html.ActionLink("Back", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>



